@keyframes fade-in {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}

@keyframes delayed-stroke-in {
  0% {
     opacity: 0;
  } 
  50% {
     opacity: 1;
     fill: rgba(255, 255, 255, 0);
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
    fill: rgba(255, 255, 255, 100);
 }
}

@keyframes twinkle {
  0% {
    opacity: .2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

@keyframes link-color-shift {
  0% {
    color: var(--color-link-muted);
    text-underline-offset: .1em;
   }
  100% {
    color: var(--color-link);
    text-underline-offset: .2em;
   }
}

@keyframes link-color-shift-reverse {
  0% {
    color: var(--color-link);
    text-underline-offset: .2em;
   }
  100% {
    color: var(--color-link-muted);
    text-underline-offset: .1em;
   }
}