@keyframes fade-in {
  0% {
     opacity: 0;
   }
  100% {
     opacity: 1;
   }
}

@keyframes twinkle {
  0% {
    opacity: .2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

@keyframes link-color-shift {
  0% {
    color: var(--color-link-muted);
   }
  100% {
    color: var(--color-link);
   }
}

@keyframes link-color-shift-reverse {
  0% {
    color: var(--color-link);
   }
  100% {
    color: var(--color-link-muted);
   }
}