div.post-meta {
  display: flex;
  justify-content: space-between;
}

div.posted-on {
  &:before {
    content: "Posted on \A";
    white-space: pre;
  }
}

div.reading-time {
  &:before {
    content: "Read in \A";
    white-space: pre;
  }
}

div.tags {
  &:before {
    content: "Tagged \A";
    white-space: pre;
  }
}