h2.post-title {

}

h5.description {
  font-family: var(--font-heading) !important;
  font-style: italic;
}

div.post-meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-heading) !important;
  font-style: italic;
}

a.continue-reading {
  font-family: var(--font-heading) !important;
  font-style: italic;
}

div.posted-on {
  &::before {
    content: "Posted on ";
  }
}

div.reading-time {
  &::before {
    content: "Read in ";
  }
}

div.tags {
  &::before {
    content: "Tagged ";
  }
}


@media only screen and (min-width : 500px) {
  div.post-meta {
    flex-direction: row;
  }
}

