a {
  text-decoration: var(--color-link) dotted underline;
  color: var(--color-link-muted);
  
  animation: link-color-shift-reverse;
  animation-timing-function:ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-duration: 0.2s;

  &:hover {
    text-decoration: underline;
    animation: link-color-shift;
    animation-timing-function:ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-duration: 0.2s;
  }
}

ol {
  counter-reset: section;
  list-style-type: none;
  li:before {
    counter-increment: section;
    content: counters(section, ".") " ";
  }
}

ul, ol {
  list-style-position: outside;
  margin-left: 1rem;
}

/* Set up some font families */
body {
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  line-height: 1.2;
}

strong {
  font-weight: bold;
}

em {
  font-style: oblique;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading) !important;
  padding: 1vh 0;
}

header div.content h1 a {
  font-size: 3rem !important;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.3rem;
}

p {
  padding: .25em 0;
}

hr {
  width: 60%;
}

blockquote {
  background-color: var(--color-muted);
  border-left: 10px solid #ccc;
  padding-left: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  & p {
    display: inline-block;
  }
}

table {
  border-spacing: 1em .5em;
  margin: 1vh 0;
  padding: 1vh var(--margins);
  margin: 0 var(--margins);
  & th {
    font-weight: bold;
  }
  & td, th {
    text-align: left;
    vertical-align: middle;
    word-break: break-word;
  }
}

pre:not(.artifact) {
  margin: 1vh 0;
  overflow-x: auto;
}

*:not(blockquote) > pre:not(.artifact) {
  padding: 1vh var(--margins);
}

blockquote > pre:not(.artifact) {
  background-color: inherit;
}

pre.artifact {
  overflow: scroll;
}

pre, code {
  font-family: var(--font-code), monospace;
}

*:not(pre) > code {
  background-color: var(--color-muted);
  word-wrap: break-word;
}

code mark, pre mark {
  background-color: var(--color-accent);
  color: var(--color-text);
}