nav {
  &#toc {
    &:first-child::before {
      content: "Table of Contents";
      font-size: 16pt;
    }
    ol {
      margin-left: 0;
      margin-right: 0;
    }
  }
  padding-bottom: 4vh;
}