:root {
  --color-background: rgb(26, 26, 26);
  --color-muted: rgb(42, 42, 42);
  --color-accent: rgb(114, 63, 137);
  --color-link: rgb(164, 118, 186);
  --color-text: #CCCCCC;
  --font-text: "Delius", sans-serif;
  --font-heading: "Architects Daughter", cursive;
  --font-code: "Fira Code";
  --font-size-text: 16pt;
  --margins: 2vw;
  --gradient-fade-up: linear-gradient(0deg, rgba(26, 26, 26,1) 0%,  rgba(26, 26, 26,.9) 20%, rgba(26, 26, 26,.8) 50%, rgba(26, 26, 26,0) 100%);
  --gradient-fade-down: linear-gradient(0deg, rgba(26, 26, 26,0) 0%, rgba(26, 26, 26,.7) 50%,  rgba(26, 26, 26,.9) 80%, rgba(26, 26, 26,1) 100%);
  --gradient-splash-background: radial-gradient(rgba(84, 62, 67, 0.33), rgba(31, 67, 83, 0.33)),
    linear-gradient(336deg, rgba(33, 52, 35, 0.33), #00000000),
    linear-gradient(127deg, rgba(56, 31, 57, 0.33), #00000000);
}

@media only screen and (min-width : 1024px) {
  :root {
    --margins: 10vw !important;
  }
}


@media only screen and (min-width : 1444px) {
  :root {
    --margins: 15vw !important;
  }
}

@media only screen and (min-width : 2160px) {
  :root {
    --margins: 30vw !important;
  }
}
