@import 'reset';

@import 'text';
@import 'figure';
@import 'article';
@import 'post-meta';
@import 'variables';
@import 'toc';
@import 'menu';

body {
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 100vw;
}

div#hero-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  & > figure {
    & > img {
      height: 100vh;
    }
    & > figcaption {
    }
  }
}

header {
  z-index: 1;
  margin-top: 70vh;
  place-self: stretch;
  div.hero-wrapper-content {
    background: var(--gradient-fade-up);
    padding-left: var(--margins);
    padding-right: var(--margins);
    padding-top: 10vh;
    & > h1 > a {
      font-size: 3rem;
      color: var(--color-text);
    }
    & > nav#tree > ul > li > a {
      color: var(--color-text);
    }
  }
}
main {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 2vh 0;
  background-color: var(--color-background);
  & article, & {
    & > div, & > section, & > p, & > h1,
    & > h2, & > h3, & > h4, & > h5, & > h6, & > blockquote,
    & > code, & > table, & > ul, & > ol, & > nav {
      padding-left: var(--margins);
      padding-right: var(--margins);
    }
  }
  & > pre, & > figure.enriched {

  }
  & > pre {

  }
  & > section {

  }
}

article figure {
  &:before {
    background: var(--gradient-fade-up);
  }
}

footer {
  z-index: 1;
  place-self: stretch;
  background-color: var(--color-background);
  padding-left: var(--margins);
  padding-right: var(--margins);
}

pre.artifact {
  z-index: 1;
  font-size: .75rem;
  place-self: stretch;
  text-align: right;
  background-color: var(--color-background);
}