$background: ("light": #FFFFFF, "dark": #000000);
$main-text: ("light": #000000, "dark": #FFFFFF);
$unvisited-link: ("light": #333333, "dark": #CCCCCC);
$visited-link: ("light": #555555, "dark": #AAAAAA);
$code-background: ("light": #DDDDDD, "dark": #2b303b);

$quote-background: ("light": #DDDDDD, "dark": #2b303b);

$font: ("normal": "Fira Sans", "code": "Fira Code");
$responsive-margin-horizontal: (
    "normal": 15vw,
    "widescreen": 25vw,
);
$responsive-margin-horizontal-wide: (
    "normal": 5vw,
    "widescreen": 5vw,
);
$hero-wrapper-font-color: white;

@mixin color-scheme($property, $setting) {
    #{$property}: map-get($setting, "light");
    @media (prefers-color-scheme: dark) {
        #{$property}: map-get($setting, "dark");
    }
}

@mixin responsive($property, $setting) {
    #{$property}: map-get($setting, "normal");
    @media (min-width: 1600px) {
        #{$property}: map-get($setting, "widescreen");
    }
}

html {
    background: black;
    font-family: map-get($font, "normal");
    font-size: 1.1rem;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: normal;
    font-feature-settings: "calt" 1; /* For IE/Edgee*/

    body {
        margin: auto;
        padding: 0;

        @include color-scheme(background, $background);
        @include color-scheme(color, $main-text);

        // A nice fade in.
        opacity: 0;
        animation: .5s fade-in ease-in 0s 1 forwards;

        // Hero images are intended to be very prominent, and can hold some content.
        #hero-wrapper {
            pointer-events: auto;
            background-color: black;
            position: relative;
            overflow: hidden;
            top: 0;
            left: 0;
            right: 0;
            height: 100vh;
            z-index: -10;
            position: fixed;

            & > * {
                margin-left: 0;
                margin-right: 0;
                margin-top: 0;
            }
            & > figure {
                & > img {
                    max-width: 100vw;
                    height: 100vh;
                    opacity: 0;
                    animation: 1s fade-in ease-in .5s 1 forwards;
                    width: 100%;
                    object-fit: cover;
                    z-index: 0;
                }
                & > figcaption {
                    top: 0;
                    right: 0;
                    margin-left: 0;
                    margin-right: 2vw;
                    position: absolute;
                    font-size: 8pt;
                    z-index: 1;
                }
            }

            & ~ div.hero-wrapper-content {
                text-align: left;
                position: absolute;
                bottom: 10vh;
                width: 90vw;
                animation: 1s fade-in ease-in 0s 1 forwards;
                z-index: 2;

                & > p {
                    &.description {
                        font-size: 14pt;
                    }

                    &.metadata {
                        font-size: 12pt;
                    }
                }
            }
        }

        header {
            height: 90vh;
            overflow: hidden;
            pointer-events: none;
            
            * {
                pointer-events: auto;
                color: $hero-wrapper-font-color;
                font-weight: 600;
            }
            a {
                text-decoration: none !important;
            }

            a:visited, a {
                color: $hero-wrapper-font-color;
                font-weight: 600;
            }

            &:after {
                content: "";
                position: relative;
                width: 100vw;
                display: inline-block;
                left: 0;
                right: 0;
                background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%,  rgba(0,0,0,.9) 20%, rgba(0,0,0,.7) 50%, rgba(0,0,0,0) 100%);
                height: 30vh;
                top: 60vh;
            }
        }
        

        // Tweak the footer hero to be a bit smaller and more "goodbye" feeling.
        footer {
            height: 60vh;
            overflow: hidden;

            & > .content {
                padding-top: 5vh;
                background-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.7) 50%,  rgba(0,0,0,.9) 80%, rgba(0,0,0,1) 100%);
                position: relative;
                top: 0vh;
                z-index: 1;
            }


            span.author,span.image-credit {
                display: block;
                font-size: 12pt;
            }
        }

        header,footer,nav#pagination {
            text-align: center;
        }

        article > p, blockquote,
        & > h1, article > h1, .hero-wrapper-content > h1,
        & > h2, article > h2, .hero-wrapper-content > h2,
        & > h3, article > h3, .hero-wrapper-content > h3,
        & > h4, article > h4, .hero-wrapper-content > h4,
        & > ul, article > ul, .hero-wrapper-content > ul,
        & > ol, article > ol, .hero-wrapper-content > ol,
        table, .metadata, section > .excerpt > a, section, pre, figcaption, 
        nav#toc, nav#tree {
            @include responsive(margin-left, $responsive-margin-horizontal);
            @include responsive(margin-right, $responsive-margin-horizontal);
            margin-top: 2vh;
            margin-bottom: 2vh;
        }

        ul *, ul *, ol *, ol * {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
        }

        nav {
            &#toc {
                &:first-child::before {
                    content: "Table of Contents";
                    font-size: 16pt;
                }
                ol {
                    margin-left: 0;
                    margin-right: 0;
                    counter-reset: section;
                    list-style-type: none;
                    li:before {
                        counter-increment: section;
                        content: counters(section, ".") " ";
                    }
                }
            }

            &#tree > ul, {
                padding-left: 0;

                & > li {
                    display: inline-block;

                    & > a, & > a:hover, & > a:visited {
                        text-decoration: none;
                    }

                    &:not(:first-child):before {
                        content: " | ";
                    }
                }
            }

            &#current-section {
                padding-left: 5vh;

                & > ul > li {
                    font-size: smaller;
                }
            }

            &#pagination {
                & > a[href="#"] {
                    color: #CCCCCC;
                    text-decoration: none;
                }
            }
        }

        main {
            margin: auto;
            line-height: 1.4;
            padding-top: 5vh;
            padding-bottom: 5vh;
            z-index: 10;
            left: 0;
            right: 0;
            @include color-scheme(background, $background);

            // Create nice article breaks.
            article {
                & > h1:before,article > h2:before,article > h3:before {
                    content: "";
                    width: 45vw;
                    height: 5px;
                    position: relative;
                    display: flex;
                    height: 1px;
                    margin-top: 3vh;
                    margin-bottom: 3vh;
                    background: #999999;
                }
                & > h2 {
                    margin-top: 0px;
                }

                & > h3:before {
                    @include color-scheme(background, $main-text);
                    content: "";
                    width: 25vw;
                    height: 5px;
                    position: relative;
                    display: flex;
                    height: 1px;
                    margin-top: 3vh;
                    margin-bottom: 3vh;
                }
                  
            }
            
            .continue-reading {
                margin-bottom: 2vh;
                display: block;
            }

            .post-meta {
                font-style: italic;
                @include color-scheme(color, $main-text);
                .meta-box {
                    display: flex;
                    align-content: center;
                    > div {
                        flex-basis: 30vw;
                        text-align: center;
                    }
                    .reading-time {
                        &::before {
                            display: inline-block;
                            content: "Read In:"
                        }
                        max-width: 30vw;
                    }
                    .posted-on {
                        &::before {
                            display: inline-block;
                            content: "Posted On:"
                        }
                        max-width: 30vw;
                    }
                    .tags {
                        &::before {
                            display: inline-block;
                            content: "Tagged:"
                        }
                        a {
                            display: inline-block;
                        }
                        max-width: 30vw;
                    }
                }
            }

            hr {
                width: 60%;
                border: none;
                height: 1px;
                @include color-scheme(background, $main-text);
            }

            blockquote {
                @include color-scheme(background, $quote-background);
                border-left: 10px solid #ccc;
                padding-left: 2vw;
                
                padding-top: 2vh;
                padding-bottom: 2vh;

                & p {
                    display: inline;
                }
            }
            
            // *** Bad Behavior fixes ***
            // Figure captions should center align.
            figure {
                text-align: center;
                margin-left: 0 !important;
                margin-right: 0 !important;
                display: block;

                & > figcaption,img {
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                }
                img {
                    max-height: 100vmin;
                    opacity: 0;
                    animation: 1s fade-in ease-in .5s 1 forwards;
                    width: 100%;
                    display: block;
                    object-fit: cover;
                    z-index: 0;
                }

                &.enriched > figcaption {
                    display: block;
                    right: 2vw;
                    position: absolute;
                    font-size: 8pt;
                    z-index: 1;
                }
            }

            // Images should try to behave somewhat.
            img {
                display: block;
                margin: auto;
                max-width: 100%;
                max-height: 100%;
            }

            // Make a nice border around code.
            pre {
                font-family: map-get($font, "code") !important;
                @include responsive(margin-left, $responsive-margin-horizontal-wide);
                @include responsive(margin-right, $responsive-margin-horizontal-wide);
                font-weight: bolder;
                letter-spacing: 0.08rem;
                line-height: 1.4;
                padding: 5px;
                border: 1px solid #DDDDDD;
                overflow-x: auto;
                border-radius: 5px;
            }

            :not(pre) > code {
                @include color-scheme(background, $code-background);
                padding-left: 2px;
                padding-right: 2px;
                border: 1px solid #DDDDDD;
                font-family: map-get($font, "code") !important;
                border-radius: 5px;
            }

            /* Make a nice button class */
            .button {
                display: inline-block;
                font-weight: bold;
                text-decoration: none;
                color: #000000;
                padding: 5pt 15pt;
                margin: 5pt 5pt;
                line-height: 18pt;
                border: 1px solid #DDDDDD;
                box-shadow: 0 0 0px;
                transition: box-shadow 0.2s linear;

                &:hover {
                    box-shadow: 0 0 2px;
                }

                &:active {
                    background-color: black;
                    color: white;
                    box-shadow: 0 0 2px black;
                    border-color: black;
                }
            }
        }
    }

    // Better link behavior. No underlines, simpler colors.
    h1 > a,h2 > a,h3 > a,h4 > a {
        text-decoration: none;
    }

    a {
        @include color-scheme(color, $unvisited-link);
    }
        
    a:visited {
        @include color-scheme(color, $visited-link);
    }
    
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes undreamify {
    0% {
        filter: blur(2px) saturate(20%) contrast(110%);
    }
    100% {
        filter: blur(0px) saturate(100%) contrast(100%);
    }
}


@keyframes dreamify {
    0% {
        filter: blur(0px) saturate(100%) contrast(100%);
    }
    100% {
        filter: blur(2px) saturate(20%) contrast(110%);
    }
}