@import 'reset';

@import 'text';
@import 'figure';
@import 'article';
@import 'post-meta';
@import 'variables';
@import 'toc';
@import 'menu';
@import 'animations';

body {
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: end;
  max-width: 100vw;
  min-height: 100vh;
  opacity: 0;
  animation: .5s fade-in ease-in 0s 1 forwards;
}

div#splash {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  place-content: center;
  background: var(--gradient-splash-background);
}

svg.logo {
  width: 100vw;
  height: 100vh;

  animation: fade-in;
  animation-timing-function:ease-in;
  animation-delay: .25s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-duration: 1.5s;

  #bear {
    fill: white;
    opacity: 0;

    animation: fade-in;
    animation-timing-function:ease-in;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-duration: 1.5s;
  }

  #star-links {
    stroke: #808285;
    stroke-miterlimit: 10;
    stroke-width: 0.75px;

    line {
      opacity: 0;
      animation: twinkle;
      animation-timing-function: ease-in;
      animation-delay: 3s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
    }

    @for $i from 1 through 20 {
      line:nth-child(1n + #{$i}) {
        animation-duration: #{random(10) * 2}s;
        animation-timing-function: cubic-bezier(#{random()},#{random()},#{random()},#{random()});
      }
    }
  }

  #stars, #starfield {
    fill: #808285;

    circle {
      opacity: 0;
      animation: twinkle;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
    }

    @for $i from 1 through 20 {
      circle:nth-child(20n + #{$i}) {
        animation-duration: #{random(10) * 2}s;
        animation-timing-function: cubic-bezier(#{random()},#{random()},#{random()},#{random()});
      }
    }
  }
}


div#hero-wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  & > figure {
    & > img {
      height: 100vh;
    }
  }

  & + header {
    margin-top: 70vh;
  }
}

header {
  z-index: 1;
  place-self: stretch;
  div.content {
    background: var(--gradient-fade-up);
    padding-left: var(--margins);
    padding-right: var(--margins);
    padding-top: 1vh;
    text-shadow: var(--color-background) 0 0 10px;
    & > h1 > a {
      font-size: 3rem;
      color: var(--color-text);
      animation: .5s fade-in ease-in 0s 1 forwards;
    }
    & > nav#tree > ul > li > a {
      color: var(--color-text);
    }

    & .main-title {
      transition: 1s ease-in-out all;
    }
  }
}

main {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 2vh 0;
  background-color: var(--color-background);
  & article, & {
    & > div, & > section, & > p, & > h1,
    & > h2, & > h3, & > h4, & > h5, & > h6, & > blockquote,
    & > code, & > table, & > ul, & > ol, & > nav {
      padding-left: var(--margins);
      padding-right: var(--margins);
    }
  }
}

article figure {
  &:before {
    background: var(--gradient-fade-up);
  }
}

footer {
  z-index: 1;
  overflow: auto;
  max-width: 100vw;
  place-self: stretch;
  background-color: var(--color-background);
  padding-left: var(--margins);
  padding-right: var(--margins);
}

pre.artifact {
  z-index: 1;
  font-size: .75rem;
  place-self: stretch;
  text-align: right;
  background-color: var(--color-background);
}
