<footer class="post-footer">
    Connect through &nbsp
    {%- if config.extra.email -%}
    <a href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a>,
    {%- endif -%}
    &nbsp;
    {%- if config.extra.github -%}
    <a href="https://github.com/{{ config.extra.github }}">@{{ config.extra.github }}</a> on Github,
    {%- endif -%}
    &nbsp;
    {%- if config.extra.twitter -%}
    <a href="https://twitter.com/{{ config.extra.twitter }}">@{{ config.extra.twitter }}</a> on Twitter,</a>
    {%- endif -%}
    &nbsp;
    or track via <a class="subscribe" href="{{ config.base_url }}/rss.xml">RSS Feed</a>.
</footer>