<header>
    {%- if page -%}
        {%- set page_or_section = page -%}
    {%- elif section -%}
        {%- set page_or_section = section -%}
    {%- endif -%}

    {%- if page_or_section.extra.image -%}
        {%- set cover_path = page_or_section.extra.image.path -%}
        {%- set cover_photographer = page_or_section.extra.image.photographer | default(value="") -%}
        {%- set cover_source = page_or_section.extra.image.source | default(value="") -%}
        {%- set colocated = page_or_section.extra.image.colocated | default(value=true) -%}
    {%- else -%}
        {%- set cover_path = '../static/' ~ config.extra.cover.path -%}
        {%- set cover_photographer = config.extra.cover.photographer | default(value="") -%}
        {%- set cover_source = config.extra.cover.source | default(value="") -%}
        {%- set colocated = false -%}
    {%- endif -%}

    {%- if page_or_section.title -%}
        {%- set title = page_or_section.title -%}
    {%- else -%}
        {%- set title = config.title -%}
    {%- endif -%}

    {%- if page_or_section.description -%}
        {%- set description = page_or_section.description -%}
    {%- else -%}
        {%- set description = config.description -%}
    {%- endif -%}

    <div id="hero-wrapper">
        {{ figure::enriched(path=cover_path, alt="Photo", source=cover_source, photographer=cover_photographer, colocated=colocated) }}
    </div>
    <div class="hero-wrapper-content">

        <h1><a href="{{ config.base_url }}">{{ title }}</a></h1>


        <nav id="tree">
            {%- for ancestor_path in page_or_section.ancestors | default(value=[]) -%}
                <ul>
                    {%- set ancestor = get_section(path=ancestor_path) -%}
                    {%- for ancestor_page in ancestor.pages | default(value=[]) -%}
                        {%- if ancestor_page.extra.in_menu | default(value=false) -%}
                            <li>
                                <a href="{{ ancestor_page.permalink | safe }}">
                                    {{ ancestor_page.title | markdown(inline=true) }}
                                </a>&nbsp;
                            </li>
                        {%- endif -%}
                    {%- endfor -%}
                    {%- for ancestor_section_path in ancestor.subsections -%}
                        {%- set ancestor_section = get_section(path=ancestor_section_path) -%}
                        {%- if ancestor_section.extra.in_menu | default(value=false) -%}
                            <li>
                                <a href="{{ ancestor_section.permalink | safe }}">
                                    {{ ancestor_section.title | markdown(inline=true) }}
                                </a>&nbsp;
                            </li>
                        {%- endif -%}
                    {%- endfor -%}
                </ul>
            {%- endfor -%}
            <ul>
                {%- for page in page_or_section.pages | default(value=[]) -%}
                    {%- if page.extra.in_menu | default(value=false) -%}
                        <li>
                            <a href="{{ page.permalink | safe }}">
                                {{ page.title | markdown(inline=true) }}
                            </a>&nbsp;
                        </li>
                    {%- endif -%}
                {%- endfor -%}
                {%- for subsection_path in page_or_section.subsections | default(value=[]) -%}
                    {%- set subsection_section = get_section(path=subsection_path) -%}
                    {%- if subsection_section.extra.in_menu | default(value=false) -%}
                    <li>
                        <a href="{{ subsection_section.permalink | safe }}">
                            {{ subsection_section.title | markdown(inline=true) }}
                        </a>&nbsp;
                    </li>
                    {%- endif -%}
                {%- endfor -%}
            </ul>
        </nav>

        <div class="metadata">
            {% if description -%}
                <p class="description">
                    {{ description }}
                </p>
            {%- endif %}

            {% if page.date and page.reading_time -%}
                <p class="date">
                    Posted on {{ page.date }}, around {{ page.reading_time }} minutes of reading.
                </p>
            {%- endif %}
        </div>

    </div>
</header>