<head>
    <!-- Fun compatability things -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">                  <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}">

    <!-- Information about this site -->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}" />

    <!-- Various Twitter related content. -->
    {% if page.image %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="{{ site.url }}{{ site.cover }}">
    {% endif %}
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:creator" content="@{{ site.twitter }}">
    {% if page.title %}
        <meta name="twitter:title" content="{{ page.title | escape }}">
    {% else %}
        <meta name="twitter:title" content="{{ site.url }}">
    {% endif %}
    {% if page.excerpt %}
        <meta name="twitter:description" content="{{ page.excerpt | escape }}">
    {% else %}
        <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}

    <!-- Talk about the homepage and the rss feed. -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml">

    <!-- Stylesheets are fun -->
    <link rel="stylesheet" href="{{ "/assets/font/fira_code.css"  | prepend: site.baseurl  }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ "/assets/main.css"  | prepend: site.baseurl  }}" />

    <!-- Include Katex if it's necessary. -->
    {% if page.math == true %}
      <script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    {% endif %}

    <script defer>
        // Create captions from Alt tags
        document.addEventListener("DOMContentLoaded", function(event) {
            Array.from(document.querySelectorAll("main img")).forEach(function (item) {
                if (item.attributes['alt']) {
                    var caption = document.createElement("figcaption");
                    caption.innerHTML = item.attributes['alt'].value;
                    item.outerHTML = "<figure>" + item.outerHTML + caption.outerHTML + "</figure>";
                }
            });
        });
    </script>
</head>
