<header>
    <div id="cover-wrapper">
      {% if page.image %}
        <div id="cover" style="background-image: url({{ page.image }})"></div>
      {% else %}
        <div id="cover" style="background-image: url({{ site.cover }})"></div>
      {% endif %}
    </div>

    {% if page.title %}
      <h1>{{ page.title }}</h1>
    {% else %}
      <h1>{{ site.title }}</h1>
      <p class="description">{{ site.description }}</p>
    {% endif %}


    <nav class="pages">
        <a class="button" href="{{ site.baseurl }}/">Index</a>
        {% for item in site.pages %}
            {% if item.title != null and item.layout == "page" %}
                <a class="button {% if page.url == item.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
            {% endif %}
        {% endfor %}
    <nav>
</header>
