<header>
  <div id="hero-wrapper">
    {% if page.image %}
      <img id="background" src="{{ page.image }}">
    {% else %}
      <img id="background" src="{{ site.cover }}">
    {% endif %}
    <div class="content">
      {% if page.title %}
        <h1><a href="/">{{ page.title }}</a></h1>
      {% else %}
        <h1><a href="/">{{ site.title }}</a></h1>
        <p class="description">{{ site.description }}</p>
      {% endif %}
      <nav id="pages">
        <ul>
          <li><a href="/">Index</a></li>
          {% for item in site.pages %}
            {% if item.title != null and item.layout == "page" %}
              <li>
                <a class="{% if page.url == item.url %}active{% endif %}" href="{{ item.url }}">
                  {{ item.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
