<header>
  <div id="cover-wrapper">
    {% if page.image %}
      <img id="cover" src="{{ page.image }}">
    {% else %}
      <img id="cover" src="{{ site.cover }}">
    {% endif %}
  </div>

  <div class="title">
    {% if page.title %}
      <h1><a href="/">{{ page.title }}</a></h1>
    {% else %}
      <h1><a href="/">{{ site.title }}</a></h1>
      <p class="description">{{ site.description }}</p>
    {% endif %}
  </div>


  <nav id="pages">
    <ul>
      <li><a href="/">Index</a></li>
      {% for item in site.pages %}
        {% if item.title != null and item.layout == "page" %}
          <li>
            <a class="{% if page.url == item.url %}active{% endif %}" href="{{ item.url }}">
              {{ item.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
