<script type="text/javascript" src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.fitvids.js" | prepend: site.baseurl  }}"></script>
<script type="text/javascript" src="{{ "/assets/js/index.js" | prepend: site.baseurl  }}"></script>
<script type="text/javascript" src="{{ "/bower_components/katex/dist/katex.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/bower_components/katex/dist/contrib/auto-render.min.js" | prepend: site.baseurl }}"></script>
