{% import "macros/image.html" as image %}
{% import "macros/figure.html" as figure %}
{% import "macros/post.html" as post %}
{% import "macros/section.html" as section %}

<!DOCTYPE html>
<html>
    {% include "partials/head.html" %}
    <body>
        {% block page %}
        {% endblock page %}

        {%- set commit = load_data(path=".git/refs/heads/root") -%}
        <pre class="artifact"><a id="commit" href="https://github.com/Hoverbear/hoverbear.org/commit/{{commit}}">{{ commit }}</a></pre>
    </body>

</html>
