{% import "macros/image.html" as image %}
{% import "macros/post.html" as post %}

<!DOCTYPE html>
<html>
    {% include "partials/head.html" %}
    <body>
        {% include "partials/header.html" %}

        <main>
            {% if page and page.toc %}
                <nav id=toc>
                    <ol>
                        {% for h1 in page.toc %}
                            <li>
                                <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
                                {% if h1.children %}
                                    <ol>
                                        {% for heading in h1.children %}
                                            <li>
                                                <a href="{{heading.permalink | safe}}">{{ heading.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                </nav>
            {% endif %}
            <article>
                {% block content %}
                {% endblock content %}
            </article>
        </main>
        
        {% include "partials/footer.html" %}
            
    </body>

</html>
