{%- import "macros/image.html" as image -%}
{%- import "macros/post.html" as post -%}
{%- import "macros/section.html" as section -%}
{%- import "macros/code.html" as code -%}
{%- import "macros/colocated_asset.html" as colocated_asset -%}
{%- import "macros/navigation.html" as navigation -%}

<!DOCTYPE html>
<html>
{% include "partials/head.html" %}

<body>
    {% block body %}
    {% endblock body %}

    {%- set commit = load_data(path=".git/refs/heads/root", required=false) -%}
    {%- if commit -%}
    <pre
        class="artifact"><a id="commit" href="https://github.com/Hoverbear/hoverbear.org/commit/{{commit}}">{{ commit }}</a></pre>
    {%- else -%}
    <pre class="artifact"><a id="commit" href="https://github.com/Hoverbear/hoverbear.org/">development</a></pre>
    {%- endif -%}
</body>

</html>