---
layout: default
---


<header>
    <h1><a href="{{ site.baseurl }}/">{{ page.title }}</a></h1>

    <nav class="pages">
        <a class="button" href="{{ site.baseurl }}/">Index</a>
        {% for item in site.pages %}
            {% if item.title != null and item.layout == "page" %}
                <a class="button {% if page.url == item.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
            {% endif %}
        {% endfor %}
    <nav>
</header>

<main>
    <article>
        {{content}}

        <hr>
        <a class="button" href="{{ "/"  | prepend: site.baseurl  }}">Return to index</a>
    </article>
</main>

{% include footer.html %}
