---
layout: default
---
{% include header.html %}

<main>

    <article>
        {{content}}
    </article>

    <aside class="post-meta">
        Posted on
        {% if page.date %}
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
        {% endif %}

        {% for tag in page.tags %}
            {% if forloop.index == 1 %}, into
            {% elsif forloop.index == forloop.length -1 %}
                {% if forloop.index != 2 %},{% endif %} and
            {% else %},
            {% endif %}
            <span><a href="/tag/{{tag | downcase}}/">{{tag}}</a></span>
        {% endfor %}.

        {% if page.author %}<span class="author">Written by: {{ page.author }}</span>{% endif %}
        {% if page.image-credit %}<span class="image-credit">Image by: {{ page.image-credit }}</span>{% endif %}

        <hr>
        <a class="button" href="{{ "/"  | prepend: site.baseurl  }}">Return to index</a>
    </aside>

</main>

{% include footer.html %}
